/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

.h-96 {
  height: 24rem;
}

.py-05 {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.marked {
  @apply rounded-full bg-black px-3 py-05 text-white;
  box-decoration-break: clone;
}

@tailwind utilities;