/* purgecss start ignore */
@tailwind base;
@tailwind components;

/* purgecss end ignore */

.h-96 {
  height: 24rem;
}

.py-05 {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.w-96 {
  width: 24rem;
}

.leading-1 {
  line-height: 0.25rem;
}

.rounded-xl {
  border-radius: 1rem;
}

.marked {
  @apply rounded-full bg-black px-3 py-05 text-white;
  box-decoration-break: clone;
}

.shadow-strong {
  box-shadow: 10px 10px 20px -10px rgba(0,0,0,0.5);
}

.shadow-project {
  box-shadow: 0 8px 30px rgba(0,0,0,0.16);
}

.grayscale {
  filter: grayscale(100%);
}

.heading {
  overflow: hidden;
  text-align: left;
}

.heading:before, .heading:after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 2px;
  position: relative;
  vertical-align: middle;
  width: 100%;
}

.heading:before {
  right: 0.5em;
  margin-left: -100%;
}

.heading:after {
  left: 0.5em;
  margin-right: -100%;
}

@variants responsive {
  .text-2-5xl {
    font-size: 1.6rem;
  }

  .max-h-70 {
    max-height: 70%;
  }

  .min-h-20 {
    min-height: 20%;
  }

  .h-20-p {
    height: 20%;
  }

  .h-30-p {
    height: 30%;
  }

  .h-40-p {
    height: 40%;
  }

  .h-50-p {
    height: 50%;
  }

  .h-60-p {
    height: 60%;
  }

  .h-70-p {
    height: 70%;
  }

  .h-80-p {
    height: 80%
  }

  .link {
    box-decoration-break: slice;
    line-height: 1.5;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 0% 100%;
    transition: background-size 0.3s ease-in-out;
  }

  .link-black {
    background-image: linear-gradient( transparent calc( 100% - 2px ), black 2px );
  }

  .link-white {
    background-image: linear-gradient( transparent calc( 100% - 2px ), white 2px );
  }

  .link:hover, .link:focus {
    background-size: 100% 100%;
  }
}

@tailwind utilities;